In [112]:
import pandas as pd

In [127]:
pfp = pd.read_csv(
    'philippines-food-prices-1.csv', sep=",", encoding="ISO-8859-1", header=0
)

pfp.shape

(18269, 17)

In [128]:
pfp.head(5)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
0,#date,#item+name,#item+unit,#item+type,#value,#currency,#country+name,#adm1+name,#adm1+code,#name+market,NaN,#item+code,NaN,NaN,#item+type+code,#meta+id,NaN
1,2010-01-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,29.2,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
2,2010-02-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
3,2010-03-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
4,2010-04-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0

In [129]:
# Drop the first row (index 0) from the DataFrame since it contains description of columns only
pfp = pfp.drop(index=0)

# Reset the index after dropping the row
pfp = pfp.reset_index(drop=True)

# Display the updated DataFrame
pfp.head(5)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
0,2010-01-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,29.2,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
1,2010-02-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
2,2010-03-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
3,2010-04-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
4,2010-05-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0

In [130]:
pfp.columns

Index(['date', 'cmname', 'unit', 'category', 'price', 'currency', 'country',
       'admname', 'adm1id', 'mktname', 'mktid', 'cmid', 'ptid', 'umid',
       'catid', 'sn', 'default'],
      dtype='object')

In [131]:
pfp['date'] = pd.to_datetime(pfp['date'], errors='coerce')

In [132]:
# Change the 'price' column to float
pfp['price'] = pfp['price'].astype(float)
pfp['adm1id'] = pfp['adm1id'].astype(int)
pfp['mktid'] = pfp['mktid'].astype(int)
pfp['cmid'] = pfp['cmid'].astype(int)
pfp['ptid'] = pfp['ptid'].astype(int)
pfp['umid'] = pfp['umid'].astype(int)
pfp['catid'] = pfp['catid'].astype(int)

In [133]:
print(pfp.dtypes)

date        datetime64[ns]
cmname              object
unit                object
category            object
price              float64
currency            object
country             object
admname             object
adm1id               int32
mktname             object
mktid                int32
cmid                 int32
ptid                 int32
umid                 int32
catid                int32
sn                  object
default            float64
dtype: object

In [134]:
pfp.sample(5)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
3864,2009-06-15,Carrots - Retail,KG,vegetables and fruits,66.31,PHP,Philippines,Region II (Cagayan Valley),2357,Tuguegarao,170,166,15,5,4,170_166_15_5,NaN
14824,2009-12-15,Cabbage - Retail,KG,vegetables and fruits,18.88,PHP,Philippines,Region XII (Soccsksargen),67162,Koronadal,181,181,15,5,4,181_181_15_5,NaN
15266,2015-04-15,Onions (red) - Retail,KG,vegetables and fruits,41.21,PHP,Philippines,Region III (Central Luzon),67165,Palayan,171,110,15,5,4,171_110_15_5,NaN
13153,2015-08-15,Onions (red) - Retail,KG,vegetables and fruits,67.64,PHP,Philippines,Region XI (Davao Region),67161,Davao City,180,110,15,5,4,180_110_15_5,NaN
4157,2014-08-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,40.91,PHP,Philippines,Region V (Bicol region),2361,Legazpi,174,80,15,5,1,174_80_15_5,1.0

In [135]:
pfp['currency'].unique()
# drop na lang since PHP lang naman ang currency

array(['PHP'], dtype=object)

In [136]:
pfp['country'].unique()
# pati ito

array(['Philippines'], dtype=object)

In [137]:
pfp['unit'].unique()
# not sure sa unit since may KG tapos may Unit

array(['KG', 'Unit'], dtype=object)

In [138]:
pfp['default'].unique()

array([ 1., nan])

In [139]:
# Filter rows where 'default' column equals 1.0
default_row1 = pfp[pfp['default'] == 1.0]
default_rowNot1 = pfp[pfp['default'] != 1.0]

# Display the filtered rows
print(default_row1['cmname'].unique())
print(default_rowNot1['cmname'].unique())


# Can't drop default column kasi 1.0 yung value pag Rice na retail, tapos NaN
# kapag hindi Rice na retail? Baka pwede may gawin sa null values nito like change into 0?

['Rice (regular, milled) - Retail']
['Sweet potatoes - Retail' 'Eggs - Retail' 'Garlic - Retail'
 'Onions (red) - Retail' 'Onions (white) - Retail' 'Tomatoes - Wholesale'
 'Tomatoes - Retail' 'Groundnuts (unshelled) - Retail'
 'Meat (beef, chops with bones) - Retail' 'Meat (chicken, whole) - Retail'
 'Meat (pork) - Retail' 'Potatoes (Irish) - Retail' 'Carrots - Wholesale'
 'Carrots - Retail' 'Cabbage - Wholesale' 'Cabbage - Retail'
 'Beans (mung) - Retail' 'Fish (fresh) - Retail'
 'Rice (regular, milled) - Wholesale' 'Sweet potatoes - Wholesale'
 'Eggs - Wholesale' 'Rice (paddy) - Farm Gate' 'Fish (fresh) - Wholesale']

In [140]:
# Drop the column 'column_name' from the DataFrame
pfp = pfp.drop(columns=['currency'])
pfp = pfp.drop(columns=['country'])
# Display the updated DataFrame
pfp.sample(5)

,date,cmname,unit,category,price,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
15029,2012-03-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,32.20,Region III (Central Luzon),67165,Palayan,171,80,15,5,1,171_80_15_5,1.0
10015,2016-12-15,"Meat (beef, chops with bones) - Retail",KG,"meat, fish and eggs",172.00,Autonomous region in Muslim Mindanao (ARMM),67156,Shariff Aguak,183,123,15,5,2,183_123_15_5,NaN
2940,2011-02-15,Fish (fresh) - Retail,KG,"meat, fish and eggs",106.93,Region I (Ilocos region),2356,Lingayen,169,401,15,5,2,169_401_15_5,NaN
1937,2011-05-15,Sweet potatoes - Retail,KG,cereals and tubers,18.70,Region I (Ilocos region),2356,Lingayen,169,87,15,5,1,169_87_15_5,NaN
7887,2016-11-15,Tomatoes - Retail,KG,vegetables and fruits,60.50,Region VIII (Eastern Visayas),2364,Catarman,177,114,15,5,4,177_114_15_5,NaN

In [141]:
pfp.isna().sum()

date            0
cmname          0
unit            0
category        0
price           0
admname         0
adm1id          0
mktname         0
mktid           0
cmid            0
ptid            0
umid            0
catid           0
sn              0
default     17118
dtype: int64

In [142]:
pfp.describe()

,date,price,adm1id,mktid,cmid,ptid,umid,catid,default
count,18268,18268.000000,18268.000000,18268.000000,18268.000000,18268.000000,18268.000000,18268.000000,1150.0
mean,2012-08-09 05:37:32.069192192,79.491791,33484.010291,175.087804,148.817276,15.037826,6.584848,2.611671,1.0
min,2000-01-15 00:00:00,1.600000,2354.000000,167.000000,80.000000,14.000000,5.000000,1.000000,1.0
25%,2010-01-15 00:00:00,33.000000,2361.000000,171.000000,110.000000,15.000000,5.000000,2.000000,1.0
50%,2012-06-15 00:00:00,61.430000,2368.000000,175.000000,123.000000,15.000000,5.000000,2.000000,1.0
75%,2015-05-15 00:00:00,120.167500,67161.000000,179.000000,166.000000,15.000000,5.000000,4.000000,1.0
max,2017-04-15 00:00:00,594.440000,67167.000000,183.000000,401.000000,18.000000,33.000000,5.000000,1.0
std,NaN,59.929638,32376.693621,4.785994,81.179281,0.630030,6.470416,1.284025,0.0