In [1]:
import pandas as pd

In [2]:
pfp = pd.read_csv(
    'philippines-food-prices-1.csv', sep=",", encoding="ISO-8859-1", header=0
)

print(pfp.shape)

(18269, 17)

In [3]:
pfp.head(5)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
0,#date,#item+name,#item+unit,#item+type,#value,#currency,#country+name,#adm1+name,#adm1+code,#name+market,NaN,#item+code,NaN,NaN,#item+type+code,#meta+id,NaN
1,2010-01-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,29.2,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
2,2010-02-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
3,2010-03-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
4,2010-04-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0

In [4]:
# Drop the first row (index 0) from the DataFrame since it contains description of columns only
pfp = pfp.drop(index=0)

# Reset the index after dropping the row
pfp = pfp.reset_index(drop=True)

# Display the updated DataFrame
pfp.head(5)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
0,2010-01-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,29.2,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
1,2010-02-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
2,2010-03-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
3,2010-04-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0
4,2010-05-15,"Rice (regular, milled) - Retail",KG,cereals and tubers,30.0,PHP,Philippines,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,80,15.0,5.0,1,168_80_15_5,1.0

In [5]:
pfp.sample(5)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
14777,2015-03-15,Carrots - Retail,KG,vegetables and fruits,47.2,PHP,Philippines,Region XII (Soccsksargen),67162,Koronadal,181.0,166,15.0,5.0,4,181_166_15_5,NaN
10334,2013-03-15,Carrots - Retail,KG,vegetables and fruits,55.5,PHP,Philippines,Autonomous region in Muslim Mindanao (ARMM),67156,Shariff Aguak,183.0,166,15.0,5.0,4,183_166_15_5,NaN
5720,2013-03-15,Tomatoes - Retail,KG,vegetables and fruits,25.69,PHP,Philippines,Region VI (Western Visayas),2362,Iloilo City,175.0,114,15.0,5.0,4,175_114_15_5,NaN
11227,2016-12-15,Meat (pork) - Retail,KG,"meat, fish and eggs",180.0,PHP,Philippines,Region IX (Zamboanga Peninsula),67159,Zamboanga City,178.0,140,15.0,5.0,2,178_140_15_5,NaN
7751,2009-12-15,Onions (white) - Retail,KG,vegetables and fruits,78.73,PHP,Philippines,Region VIII (Eastern Visayas),2364,Catarman,177.0,111,15.0,5.0,4,177_111_15_5,NaN

In [6]:
# Check unique values of non-descriptive columns
print(f"Currency: {pfp['currency'].unique()}")
print(f"Country: {pfp['country'].unique()}")
print(f"Unit: {pfp['unit'].unique()}")
print(f"Default: {pfp['default'].unique()}")
print(f"ptid: {pfp['ptid'].unique()}")

Currency: ['PHP']
Country: ['Philippines']
Unit: ['KG' 'Unit']
Default: [ 1. nan]
ptid: [15. 14. 18.]

In [7]:
# It is unclear what is the value 'Unit' in the unit column, check products in different unit column values
unit_kg = pfp[pfp['unit'] == 'KG']
unit_unit = pfp[pfp['unit'] == 'Unit']

# Display the filtered rows
print(unit_kg['cmname'].unique())
print(unit_unit['cmname'].unique())

# 'Unit' in unit is used for products that are measured by count, not by weight (ex: eggs). Useful and not to be removed.

['Rice (regular, milled) - Retail' 'Sweet potatoes - Retail'
 'Garlic - Retail' 'Onions (red) - Retail' 'Onions (white) - Retail'
 'Tomatoes - Wholesale' 'Tomatoes - Retail'
 'Groundnuts (unshelled) - Retail'
 'Meat (beef, chops with bones) - Retail' 'Meat (chicken, whole) - Retail'
 'Meat (pork) - Retail' 'Potatoes (Irish) - Retail' 'Carrots - Wholesale'
 'Carrots - Retail' 'Cabbage - Wholesale' 'Cabbage - Retail'
 'Beans (mung) - Retail' 'Fish (fresh) - Retail'
 'Rice (regular, milled) - Wholesale' 'Sweet potatoes - Wholesale'
 'Rice (paddy) - Farm Gate' 'Fish (fresh) - Wholesale']
['Eggs - Retail' 'Eggs - Wholesale']

In [8]:
# It is unclear what default represents, check values when default = 1 and when it is NaN
default_row1 = pfp[pfp['default'] == 1.0]
default_rowNot1 = pfp[pfp['default'] != 1.0]

# Display the filtered rows
print(default_row1['cmname'].unique())
print(default_rowNot1['cmname'].unique())

# the value 1.0 in the column default has a one to one relationship with 'Rice - Retail'. Useless and to be removed.

['Rice (regular, milled) - Retail']
['Sweet potatoes - Retail' 'Eggs - Retail' 'Garlic - Retail'
 'Onions (red) - Retail' 'Onions (white) - Retail' 'Tomatoes - Wholesale'
 'Tomatoes - Retail' 'Groundnuts (unshelled) - Retail'
 'Meat (beef, chops with bones) - Retail' 'Meat (chicken, whole) - Retail'
 'Meat (pork) - Retail' 'Potatoes (Irish) - Retail' 'Carrots - Wholesale'
 'Carrots - Retail' 'Cabbage - Wholesale' 'Cabbage - Retail'
 'Beans (mung) - Retail' 'Fish (fresh) - Retail'
 'Rice (regular, milled) - Wholesale' 'Sweet potatoes - Wholesale'
 'Eggs - Wholesale' 'Rice (paddy) - Farm Gate' 'Fish (fresh) - Wholesale']

In [9]:
# It is unclear what ptid represents, check values when ptid: [14. 15. 18.]
ptid_14 = pfp[pfp['ptid'] == 14.0]
ptid_15 = pfp[pfp['ptid'] == 15.0]
ptid_18 = pfp[pfp['ptid'] == 18.0]

# Display the filtered rows
print(ptid_14['cmname'].unique())
print(ptid_15['cmname'].unique())
print(ptid_18['cmname'].unique())

# ptid represents as ids of wholesale, retail, and farm gate

['Tomatoes - Wholesale' 'Carrots - Wholesale' 'Cabbage - Wholesale'
 'Rice (regular, milled) - Wholesale' 'Sweet potatoes - Wholesale'
 'Eggs - Wholesale' 'Fish (fresh) - Wholesale']
['Rice (regular, milled) - Retail' 'Sweet potatoes - Retail'
 'Eggs - Retail' 'Garlic - Retail' 'Onions (red) - Retail'
 'Onions (white) - Retail' 'Tomatoes - Retail'
 'Groundnuts (unshelled) - Retail'
 'Meat (beef, chops with bones) - Retail' 'Meat (chicken, whole) - Retail'
 'Meat (pork) - Retail' 'Potatoes (Irish) - Retail' 'Carrots - Retail'
 'Cabbage - Retail' 'Beans (mung) - Retail' 'Fish (fresh) - Retail']
['Rice (paddy) - Farm Gate']

In [10]:
# Since every rows use the same currency and is from the same country, both columns are useless.
clean_pfp = pfp
clean_pfp.drop(columns=['currency', 'country', 'default'], inplace=True)

# Specify price is in PHP currency instead of using a column
# default column has no use, we can filter out the 'Rice - Retail' group by using the cmname therefore redundant

In [11]:
# Split cmname into Product Name and Price Type
clean_pfp[['Product Name', 'Price Type']] = clean_pfp['cmname'].str.split('-', n=1, expand=True)

# Remove any extra whitespace from the new columns
clean_pfp['Product Name'] = clean_pfp['Product Name'].str.strip()
clean_pfp['Price Type'] = clean_pfp['Price Type'].str.strip()

clean_pfp.drop(columns=['cmname'], inplace=True)

In [12]:
clean_pfp.sample(5)

,date,unit,category,price,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,Product Name,Price Type
16016,2015-08-15,KG,"meat, fish and eggs",148.36,Region III (Central Luzon),67165,Palayan,171.0,401,15.0,5.0,2,171_401_15_5,Fish (fresh),Retail
9813,2010-11-15,KG,vegetables and fruits,72.0,Autonomous region in Muslim Mindanao (ARMM),67156,Shariff Aguak,183.0,110,15.0,5.0,4,183_110_15_5,Onions (red),Retail
1686,2010-08-15,KG,vegetables and fruits,52.14,National Capital region (NCR),2355,Manila,167.0,166,15.0,5.0,4,167_166_15_5,Carrots,Retail
872,2016-05-15,KG,vegetables and fruits,53.72,Cordillera Administrative region (CAR),2354,La Trinidad,168.0,166,14.0,5.0,4,168_166_14_5,Carrots,Wholesale
8741,2013-07-15,KG,vegetables and fruits,203.83,Region XIII (Caraga),2368,Tandag,182.0,105,15.0,5.0,4,182_105_15_5,Garlic,Retail

In [13]:
# Check one-to-one relationship of columns and column's id counterpart
# product name-cmid, category-catid, admname-adm1id, mktname-mktid, price type - ptid

# Define the columns and their ID counterparts
relationships = {
    'admname': 'adm1id',
    'mktname': 'mktid',
    'Product Name': 'cmid',
    'Price Type': 'ptid',
    'unit': 'umid',
    'category': 'catid'
}

# Check one-to-one relationships
for col, id_col in relationships.items():
    unique_col = clean_pfp[col].nunique()
    unique_id_col = clean_pfp[id_col].nunique()
    
    # Create a mapping of the main column to the ID column and check for unique pairs
    unique_pairs = clean_pfp[[col, id_col]].drop_duplicates().shape[0]
    
    # Check if unique counts match and if unique pairs match
    if unique_col == unique_id_col == unique_pairs:
        print(f"{col} and {id_col} have a one-to-one relationship.")
    else:
        print(f"{col} and {id_col} do not have a one-to-one relationship.")

admname and adm1id have a one-to-one relationship.
mktname and mktid have a one-to-one relationship.
Product Name and cmid have a one-to-one relationship.
Price Type and ptid have a one-to-one relationship.
unit and umid have a one-to-one relationship.
category and catid have a one-to-one relationship.

In [14]:
# Since the ids have a one-to-one relationship with their counterpart,
# we can remove the ids since they are not useful in analysis

clean_pfp.drop(columns=['cmid', 'ptid', 'catid', 'adm1id', 'mktid', 'umid'], inplace=True)

In [15]:
# Check if there are multiple mktname in admname

# Get unique values for mktname and admname
unique_mktname = clean_pfp['mktname'].nunique()
unique_admname = clean_pfp['admname'].nunique()

# Create a mapping of mktname to admname
mkt_adm_mapping = clean_pfp[['mktname', 'admname']].drop_duplicates()

# Check if the number of unique mktname-admname pairs is equal to the number of unique mktname values
unique_pairs = mkt_adm_mapping.shape[0]

# Determine if there is a one-to-one relationship
if unique_pairs == unique_mktname == unique_admname:
    print("mktname and admname have a one-to-one relationship.")
else:
    print("mktname and admname do not have a one-to-one relationship.")

# Finding insightful analysis per market on a region is not possible since
# there is only one market recorded per region in this dataset.

mktname and admname have a one-to-one relationship.

In [16]:
# Define the desired column order
new_column_order = [
    'date', 
    'Product Name', 
    'category', 
    'price', 
    'unit', 
    'Price Type', 
    'mktname', 
    'admname', 
    'sn'
]

# Reorder the DataFrame columns
clean_pfp = clean_pfp[new_column_order]

In [17]:
clean_pfp.sample(5)

,date,Product Name,category,price,unit,Price Type,mktname,admname,sn
7384,2014-12-15,Fish (fresh),"meat, fish and eggs",111.48,KG,Wholesale,Cebu City,Region VII (Central Visayas),176_401_14_5
11473,2013-03-15,Cabbage,vegetables and fruits,42.1,KG,Retail,Zamboanga City,Region IX (Zamboanga Peninsula),178_181_15_5
2992,2012-05-15,"Rice (regular, milled)",cereals and tubers,29.5,KG,Retail,Tuguegarao,Region II (Cagayan Valley),170_80_15_5
16022,2016-03-15,Fish (fresh),"meat, fish and eggs",147.68,KG,Retail,Palayan,Region III (Central Luzon),171_401_15_5
6012,2009-05-15,Potatoes (Irish),cereals and tubers,54.67,KG,Retail,Iloilo City,Region VI (Western Visayas),175_148_15_5

In [18]:
# Check columns and Data Types
print(clean_pfp.dtypes)

date            object
Product Name    object
category        object
price           object
unit            object
Price Type      object
mktname         object
admname         object
sn              object
dtype: object

In [19]:
# Change date datatype as date
clean_pfp['date'] = pd.to_datetime(clean_pfp['date'], errors='coerce')

# Change the 'price' column to float
clean_pfp['price'] = clean_pfp['price'].astype(float)

In [20]:
print(clean_pfp.dtypes)

date            datetime64[ns]
Product Name            object
category                object
price                  float64
unit                    object
Price Type              object
mktname                 object
admname                 object
sn                      object
dtype: object

In [21]:
# Normalize and change column names
new_name = {
    'date': 'Date',
    'category': 'Category',
    'price': 'Price',
    'unit': 'Unit',
    'mktname': 'Market Name',
    'admname': 'Region',
    'sn': 'Meta ID'
}

clean_pfp = clean_pfp.rename(columns=new_name)

In [22]:
clean_pfp.sample(5)

,Date,Product Name,Category,Price,Unit,Price Type,Market Name,Region,Meta ID
11197,2012-11-15,Meat (pork),"meat, fish and eggs",186.15,KG,Retail,Zamboanga City,Region IX (Zamboanga Peninsula),178_140_15_5
13447,2015-01-15,"Meat (chicken, whole)","meat, fish and eggs",139.50,KG,Retail,Davao City,Region XI (Davao Region),180_125_15_5
2685,2016-06-15,Carrots,vegetables and fruits,31.77,KG,Wholesale,Lingayen,Region I (Ilocos region),169_166_14_5
9050,2016-02-15,"Meat (chicken, whole)","meat, fish and eggs",140.77,KG,Retail,Tandag,Region XIII (Caraga),182_125_15_5
2209,2010-05-15,Onions (white),vegetables and fruits,32.15,KG,Retail,Lingayen,Region I (Ilocos region),169_111_15_5

In [23]:
print(clean_pfp.shape)

(18268, 9)

In [24]:
# Check for null values
clean_pfp.isna().sum()

Date            0
Product Name    0
Category        0
Price           0
Unit            0
Price Type      0
Market Name     0
Region          0
Meta ID         0
dtype: int64

In [25]:
# Check for duplicates
duplicates = clean_pfp[clean_pfp.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Date, Product Name, Category, Price, Unit, Price Type, Market Name, Region, Meta ID]
Index: []

In [26]:
clean_pfp.describe()

                                Date         Price
count                          18268  18268.000000
mean   2012-08-09 05:37:32.069192192     79.491791
min              2000-01-15 00:00:00      1.600000
25%              2010-01-15 00:00:00     33.000000
50%              2012-06-15 00:00:00     61.430000
75%              2015-05-15 00:00:00    120.167500
max              2017-04-15 00:00:00    594.440000
std                              NaN     59.929638